body{
    background-image: url(img5.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color:whitesmoke;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    width:99%;
    display:flex;
    justify-content: right;
    align-items: center;
}
a:link{
    color:whitesmoke;
    text-decoration: none;
}
a:visited{
    color:whitesmoke;
}
.body{
    width: 40%;
    text-align: center;
    padding:20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(210, 196, 196);
}
.heading{
    font-size: 45px;
}
input{
    width:90%;
    border:none;
    height:30px;
    margin:5px;
}
label{
    font-size: large;
}
form{
    text-align: right;
}
button{
    background-color: #fd9a10;
    color:whitesmoke;
    border:none;
    font-size: larger;
    width:30%;
    border-radius: 15px;
    padding:10px;
    
}
div{
    margin:5px;
    padding:5px;
}
.otherop{
    background-color: black;
    opacity: 0.5;
    border-radius: 20px;
    border:none;
    padding:10px;
    width:30%;
}
